.lesson11_fingers{
    flex-basis: 42%!important;
    margin-bottom: 15vh!important;
    margin-top: 6vh!important;
}
.lesson11_tabs{
    flex-basis: 58%!important;
    margin-bottom: 15vh!important;
    margin-top: 6vh!important;
}