.lesson14_table, th, td{
    border: 1px solid black;
}
.lesson14_table > *{
    text-align: center;
}
.lesson14_table > tr > td, .lesson14_table > tr > th{
    padding: 6px 8px 6px
}
.lesson14_chord{
    width: 100%;
}

.lesson14_table{
    margin-left: auto;
    margin-right: auto;
}

.lesson14_GDur_img{
    width: 100%;
}