.lesson18_table, .lesson18_table th, .lesson18_table td{
    border: 1px solid black;
}
.lesson18_table > *{
    text-align: center;
}
.lesson18_table > tr > td, .lesson18_table > tr > th{
    padding: 6px 8px 6px
}
.lesson18_table{
    margin-left: auto;
    margin-right: auto;
}
