.tablatures{
    display: flex;
    min-height: 83vh;
}

.lyrics{
    color: rgba(255, 255, 255, 0.603);
    padding: 4% 6% 1%;
    min-height: 80vh;
    max-width:63%;
    line-height: 6vh;
    font-size: 25px;
    letter-spacing: 3px;
    flex-basis: 60%;
    float: left;
}

.chordsContent{
    margin-top: 15px;
    min-height: 15vh;
    color: rgba(255, 255, 255, 0.803);
    flex-basis: 40%;
    position: fixed;
    float: right;
    left:63%;
}

.tabsSquare{
    flex-basis: 25%;
    flex-direction: row;
}
.transposeAllButton{
    width: 50%;
}
