.tabsSquare{
    float: left;
}
.tansposeButton{
    width: 50%;
    margin: 0px;
    padding: 0px;
}
.tabsSquare-hide{
    display: none;
}
select{
	appearance: none;
    width: 7.32vw;
    text-align: center;
    background-color: gray;
    font-size: 1.5rem;
    height: 9vh;
    font-size: 3.5rem;
    text-align-last:center;
}
.transposeButton{
    width:50%;
}

.tabsSquare_dur{
    background-color:rgb(118, 180, 86);
}
.tabsSquare_moll{
    background-color:rgb(107, 86, 180);
}